.contextual
  = link_to t_action('new', Salary), select_employee_salaries_path(:salary => {:employee_id => @employee.id}), :class => "icon icon-add"
= boot_page_title t_model SalaryTemplate

- @salary_template = @employee.salary_templates.first
= render 'salary_templates/form', :resource => @salary_template if @salary_template
