%table.table.table-striped.salary_templates.collection
  %thead
    %tr
      %th= t_attr :title, SalaryTemplate
      %th= t_attr :person, SalaryTemplate
      %th= t_attr :remarks, SalaryTemplate
  %tbody
    = render @salary_templates
