= boot_page_title

= simple_form_for resource, :url => new_salary_path, :method => :get do |f|
  .row-fluid
    .span12
      =f.association :employee, :as => :combobox
  .row-fluid
    .span12
      = f.input :duration_from, :as => :date_field

  .form-actions
    = f.button :submit
