.span12.line_item_total
  = link_to t('new_position', scope: 'line_items'), [:new_salary_item, resource.persisted? ? resource : resource.class.name.underscore.pluralize.to_sym], :remote => true, :class => 'btn'

