= boot_page_title

%table.table.table-striped
  - @salary_declaration_codes.each do |code|
    %tr
      %th= code
      %td.currency= @line_items.select{|li| li.booking_template.salary_declaration_code == code}.sum(&:total_amount).floor

= render 'filters/by_calendar_year'
